:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(circle at center, #3c77f5, #2a31bd);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

main {
    width: 100%;
    max-width: 100vw;
}

#examples {
    margin: 3rem auto;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.main-container .form-container {
    min-width: calc(40vw - 1em);
    border-right: 1px solid #000;
    border-radius: 0.3em;
}

.main-container .cards-container {
    min-width: calc(60vw - 1em);
    border-left: 1px solid #000;
    border-radius: 0.3em;
}

@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .main-container .form-container,
    .main-container .cards-container {
        min-width: 100%;
    }

    .main-container .form-container {
        border-right: none;
        border-bottom: 1px solid #000;
    }

    .main-container .cards-container {
        border-left: none;
        border-top: 1px solid #000;
    }
}

#content {
    min-width: 100vw;
    margin: auto;
    background-color: #fff;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid #ddd;
    border-radius: 0.4rem;
}

.form-group {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 0.25em;
}

button[type="submit"] {
    color: white;
    border: 1px solid #747bff;
    cursor: pointer;
    background: #747bff;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background: #535bf2;
}

button[type="reset"] {
    cursor: pointer;
    background-color: #dfdfdf;
    transition: background 0.3s ease;
}

button[type="reset"]:hover {
    background-color: #cacedb
}

.radio-group,
.checkbox-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.radio-group input[type="radio"],
.checkbox-group input[type="checkbox"] {
    display: none;
}

.radio-group input[type="radio"]:checked+label,
.checkbox-group input[type="checkbox"]:checked+label {
    background-color: #747bff;
    color: white;
}

.radio-group label,
.checkbox-group label {
    display: inline-block;
    padding: 0.5em 1em;
    margin-right: 0.25em;
    background: #dfdfdf;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.radio-group label:hover {
    background-color: #cacedb;
}

.checkbox-group label:hover {
    background-color: #cacedb;
}

.range-container {
    width: 100%;
    display: flex;
    align-items: center;
}

input[type="range"] {
    width: 100%;
    margin: 0;
}

.cards-container .card {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    opacity: 0;
    transform: translateY(-1em);
    animation: appear 0.5s forwards ease-out;
}

.cards-container .card table {
    width: 100%;
    margin-bottom: 0.5em;
}

@keyframes appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.cards-container .card table td {
    padding: 0.25em;
    border: 1px solid #ddd;
}

.cards-container .card button {
    display: block;
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    background: radial-gradient(circle at center, #3c77f5, #2a31bd);
}

.value-block {
    display: inline-block;
    margin-right: 0.5em;
    padding: 0.25em;
    border: 1px solid #ddd;
    border-radius: 0.25em;

}