:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  padding: 0;
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
  background: radial-gradient(circle at center, #3c77f5, #2a31bd);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

#examples {
  margin: 3rem auto;
}

label {
  display: block;
  margin-bottom: 0.25em;
}

.card-enter {
  opacity: 0;
  transform: translateY(-1em);
}

.card-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.card-exit {
  opacity: 1;
}

.card-exit-active {
  opacity: 0;
  transform: translateY(-1em);
  transition: opacity 500ms, transform 500ms;
}