/* TODO drop any css, rewrite layouts */

/* Animations */
.card-enter {
  opacity: 0;
  transform: translateY(-1em);
}

.card-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.card-exit {
  opacity: 1;
}

.card-exit-active {
  opacity: 0;
  transform: translateY(-1em);
  transition: opacity 500ms, transform 500ms;
}
